name: Test and publish

on:
  push:
    branches:
      - main

jobs:
  test-and-publish:
    name: cargo lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo clippy
      - run: cargo test
      - uses: katyo/publish-crates@v2
        with:
          dry-run: ${{ !(github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) }}
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
